<div class="container flex justify-center items-center mt-6 mx-auto">
  <div class="w-96">
    <h2 class="text-xl font-semibold mb-4">
      {{ "auth.createYourAccount" | translate }}
    </h2>
    <form class="flex flex-col gap-4" [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
      <p-floatlabel variant="in" class="text-sm">
        <input pInputText class="w-full" id="name" type="text" autocomplete="off" formControlName="name" />
        <label for="email">{{ "auth.name" | translate }}</label>
      </p-floatlabel>
      <p-floatlabel variant="in" class="text-sm">
        <input pInputText class="w-full" id="email" type="email" autocomplete="off" formControlName="email" />
        <label for="email">{{ "auth.email" | translate }}</label>
      </p-floatlabel>

      <p-floatlabel variant="in" class="text-sm">
        <p-password inputStyleClass="w-full" styleClass="w-full" autocomplete="current-password" inputId="password"
          formControlName="password" [feedback]="false" [toggleMask]="true" />
        <label for="password">{{ "auth.password" | translate }}</label>
      </p-floatlabel>

      <p-floatlabel variant="in" class="text-sm">
        <p-password inputStyleClass="w-full" styleClass="w-full" autocomplete="current-password" inputId="rePassword"
          formControlName="rePassword" [feedback]="false" [toggleMask]="true" />
        <label for="rePassword">{{ "auth.confirmPassword" | translate }}</label>
      </p-floatlabel>

      <p-button [label]="'auth.createAccount' | translate" type="submit" styleClass="w-full" />
    </form>

    <p class="text-sm block text-center mt-4">
      {{ "auth.AlreadyHaveAnAccount" | translate }}
      <a routerLink="/login" class="font-semibold underline underline-offset-4">{{ "auth.signin" | translate }}</a>
    </p>
  </div>
</div>