/* :host {
  position: sticky;
  top: 0;
  z-index: 10;
} */

.link-underline {
  @apply uppercase py-3 text-xs font-bold transition-all text-neutral-400 hover:text-neutral-950 dark:text-neutral-500 dark:hover:text-neutral-50;
}

.routerLinkActive {
  @apply text-neutral-950 dark:text-neutral-50;
}
