<p-steps styleClass="container lg:w-3/4 text-sm m-auto mt-6" [model]="items" [activeIndex]="activeIndex"
  [readonly]="false" (activeIndexChange)="onActiveIndexChange($event)" />

<div class="container flex justify-center items-center mt-6 mx-auto">
  <div class="w-96">
    <form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="submit()">
      @switch (steps) { @case (1) {
      <p class="text-sm font-medium">
        {{ "auth.resetPasswordInfo" | translate }}
      </p>
      <p-floatlabel variant="in" class="text-sm">
        <input pInputText class="w-full" id="email" type="email" autocomplete="off" formControlName="email" />
        <label for="email">{{ "auth.email" | translate }}</label>
      </p-floatlabel>
      <p-button [label]="'auth.send' | translate" type="submit" styleClass="w-full" />
      } @case (2) {
      <p class="text-sm font-medium">
        {{ "auth.enterVerificationCode" | translate }}
      </p>
      <p-inputotp [length]="6" formControlName="resetCode" class="w-full justify-between" size="large" />
      <p-button [label]="'auth.verifyCode' | translate" type="submit" styleClass="w-full" />
      } @case (3) {
      <p class="text-sm font-medium">
        {{ "auth.enterNewPassword" | translate }}
      </p>

      <p-floatlabel variant="in" class="text-sm">
        <p-password inputStyleClass="w-full" styleClass="w-full" autocomplete="current-password" inputId="newPassword"
          formControlName="newPassword" [feedback]="false" [toggleMask]="true" />
        <label for="newPassword">{{ "auth.password" | translate }}</label>
      </p-floatlabel>

      <p-button [label]="'auth.reset' | translate" type="submit" styleClass="w-full" />
      }}
    </form>

    <p class="text-sm block text-center mt-4">
      @if (steps === 1) { {{ "auth.iRememberNow" | translate }} } @else {
      {{ "auth.somethingWentWrong" | translate }} } @if (steps === 1) {
      <a routerLink="/login" class="font-semibold underline underline-offset-4">
        {{ "auth.signin" | translate }}
      </a>
      } @else {
      <span (click)="clearData()" class="font-semibold underline underline-offset-4 cursor-pointer">{{
        "auth.resendEmail" | translate }}</span>
      }
    </p>
  </div>
</div>