<div class="mb-8 p-6 border border-surface rounded-lg shadow">
  <h2 class="text-2xl font-bold mb-6">
    {{
    event
    ? ("admin.form.edit" | translate)
    : ("admin.form.create" | translate)
    }}
  </h2>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="grid-inputs">
    <!-- Event Name (en) -->
    <div>
      <label for="eventName" class="label">{{
        "admin.form.labels.eventNameEn" | translate
        }}</label>
      <input pInputText id="eventName" formControlName="eventName" class="w-full" />
      <app-form-field-error-message [form]="eventForm" controlName="eventName" />
    </div>

    <!-- Venue (en) -->
    <div>
      <label for="venue" class="label">{{
        "admin.form.labels.venueEn" | translate
        }}</label>
      <input type="text" id="venue" formControlName="venue" pInputText class="w-full" />
      <app-form-field-error-message [form]="eventForm" controlName="venue" />
    </div>

    <!-- Description (en) -->
    <div>
      <label for="description" class="label">{{
        "admin.form.labels.descriptionEn" | translate
        }}</label>
      <textarea id="description" formControlName="description" pInputTextarea rows="1" class="w-full"></textarea>
      <app-form-field-error-message [form]="eventForm" controlName="description" />
    </div>

    <!-- Category -->
    <div>
      <label for="category" class="label">{{
        "admin.form.labels.category" | translate
        }}</label>
      <p-select id="category" [options]="categories" formControlName="category"
        [optionLabel]="currentLanguage === 'ar' ? 'ar' : 'en'" styleClass="w-full">
      </p-select>
      <app-form-field-error-message [form]="eventForm" controlName="category" />
    </div>

    <!-- Price -->
    <div>
      <label for="price" class="label">{{
        "admin.form.labels.price" | translate
        }}</label>
      <p-inputNumber inputId="price" formControlName="price" [min]="0" class="w-full"></p-inputNumber>
      <app-form-field-error-message [form]="eventForm" controlName="price" />
    </div>

    <!-- Date -->
    <div>
      <label for="date" class="label">{{
        "admin.form.labels.date" | translate
        }}</label>
      <p-datepicker inputId="date" formControlName="date" [showIcon]="true" [iconDisplay]="'input'" [showTime]="true"
        class="w-full" styleClass="w-full max-w-full" />
      <app-form-field-error-message [form]="eventForm" controlName="date" />
    </div>

    <!-- Image -->
    <div class="col-span-full">
      <label for="image" class="label">{{
        "admin.form.labels.image" | translate
        }}</label>
      <input type="text" id="image" formControlName="image" pInputText class="w-full" />
      <app-form-field-error-message [form]="eventForm" controlName="image" />
    </div>
    @if (eventForm.get('image')?.value) {
    <div class="mt-2 aspect-video w-full max-w-sm overflow-hidden rounded-md">
      <img [src]="eventForm.get('image')?.value" alt="Event preview" class="h-full w-full object-cover" />
    </div>
    }

    <div class="col-span-full border-t border-surface pt-4">
      <h3 class="text-xl font-semibold mb-4">
        {{ "admin.form.section.arabicDetails" | translate }}
      </h3>
      <div class="grid-inputs" formGroupName="ar">
        <!-- Event Name (ar) -->
        <div>
          <label for="ar.eventName" class="label">{{
            "admin.form.labels.eventNameAr" | translate
            }}</label>
          <input type="text" id="ar.eventName" formControlName="eventName" pInputText class="w-full" />
          <app-form-field-error-message [form]="eventForm" controlName="ar.eventName" />

        </div>

        <!-- Venue (ar) -->
        <div>
          <label for="ar.venue" class="label">{{
            "admin.form.labels.venueAr" | translate
            }}</label>
          <input type="text" id="ar.venue" formControlName="venue" pInputText class="w-full" />
          <app-form-field-error-message [form]="eventForm" controlName="ar.venue" />
        </div>

        <!-- Description (ar) -->
        <div class="col-span-full">
          <label for="ar.description" class="label">{{
            "admin.form.labels.descriptionAr" | translate
            }}</label>
          <textarea id="ar.description" formControlName="description" pInputTextarea rows="1" class="w-full"></textarea>
          <app-form-field-error-message [form]="eventForm" controlName="ar.description" />
        </div>
      </div>
    </div>

    <div class="col-span-full mt-1 flex justify-end gap-4">
      <a pButton routerLink="/admin" class="p-button p-button-secondary p-button-outlined font-semibold max-sm:w-full">
        {{ "admin.form.buttons.cancel" | translate }}
      </a>
      <p-button [label]="
          event
            ? ('admin.form.buttons.edit' | translate)
            : ('admin.form.buttons.create' | translate)
        " type="submit" class="max-sm:w-full" styleClass="max-sm:w-full" />
    </div>
  </form>
</div>