<div
  class="relative flex flex-col md:flex-row bg-primary-contrast shadow rounded-lg overflow-hidden md:h-80 md:truncate">
  <div class="w-full md:w-[60%] lg:w-[65%]">
    <img [src]="event.image" class="w-full h-64 md:h-80 object-cover"
      [alt]="currentLanguage == 'ar' ? event.ar.eventName : event.eventName" />
    <p-badge [value]="currentLanguage == 'ar' ? event.category.ar : event.category.en" class="absolute top-4 start-4"
      severity="secondary" />
    <p-badge [value]="'events.isBooked' | translate"
      class="absolute top-4 end-4 md:top-auto md:end-auto md:bottom-4 md:start-4" severity="success" />
  </div>
  <div class="w-full md:w-[40%] lg:w-[35%] p-4 text-sm flex flex-col gap-3">
    <h2 class="truncate font-semibold text-2xl">
      {{ currentLanguage == "ar" ? event.ar.eventName : event.eventName }}
    </h2>
    <p class="truncate max-w-full font-semibold">
      {{ currentLanguage == "ar" ? event.ar.description : event.description }}
    </p>
    <div class="flex items-center gap-2">
      <i class="pi pi-map-marker" style="font-size: 0.875rem"></i>
      <p class="truncate">
        {{ currentLanguage == "ar" ? event.ar.venue : event.venue }}
      </p>
    </div>
    <div class="flex items-center gap-2">
      <i class="pi pi-calendar" style="font-size: 0.875rem"></i>
      <p>{{ event.date | date : "dd/MM/yyyy • HH:mm" }}</p>
    </div>
    <!-- <p class="font-medium">
      {{ "events.price" | translate }}:
      {{
      event.price === 0
      ? ("events.free" | translate)
      : event.price + " " + ("events.egp" | translate)
      }}
    </p> -->
    <a pButton icon="pi pi-ticket" [routerLink]="'/event/' + event.id" class="p-button  w-full mt-1 md:mt-auto">{{
      "events.bookNow" |
      translate }}</a>
  </div>
</div>