<main class="container mb-32 md:mb-12">
  <div class="w-full my-4">
    <img [src]="event.image" class="w-full rounded-lg h-56 md:h-[27rem] object-cover"
      [alt]="currentLanguage == 'ar' ? event.ar.eventName : event.eventName" />
  </div>
  <div class="flex justify-between items-center gap-2 mb-2">
    <p-badge [value]="currentLanguage == 'ar' ? event.category.ar : event.category.en" />
    <div>
      <p-button icon="pi pi-heart" [rounded]="true" [text]="true" severity="secondary" />
      <p-button icon="pi pi-upload" [rounded]="true" [text]="true" severity="secondary" />
    </div>
  </div>
  <div class="relative flex justify-between flex-col md:flex-row">
    <div>
      <h1 class="text-3xl md:text-5xl rtl:md:leading-[4rem] leading-10 font-bold mb-4 md:mb-6">
        {{ currentLanguage == "ar" ? event.ar.eventName : event.eventName }}
      </h1>
      <p class="md:text-lg font-medium mb-4">
        {{ currentLanguage == "ar" ? event.ar.description : event.description }}
      </p>
      <div>
        <h2 class="text-2xl font-semibold mb-2">
          {{ "events.dateAndTime" | translate }}
        </h2>
        <div class="flex items-center gap-2 mb-6">
          <i class="pi pi-calendar-clock" style="font-size: 0.875rem"></i>
          <p class="text-sm font-medium">
            {{ event.date | date : "dd/MM/yyyy • HH:mm" }}
          </p>
        </div>
      </div>
      <div>
        <h2 class="text-2xl font-semibold mb-2">
          {{ "events.location" | translate }}
        </h2>
        <div class="flex items-center gap-2 mb-6">
          <i class="pi pi-map-marker" style="font-size: 0.875rem"></i>
          <p class="text-sm font-medium">
            {{ currentLanguage == "ar" ? event.ar.venue : event.venue }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="fixed bottom-0 right-0 left-0 md:sticky md:top-4 md:min-w-80 h-fit md:ms-16 p-3 bg-primary-contrast border rounded-border border-surface">
      <p class="text-lg font-semibold mb-4">
        {{ "events.price" | translate }}:
        {{
        event.price === 0
        ? ("events.free" | translate)
        : event.price + " " + ("events.egp" | translate)
        }}
      </p>
      @if (isBooked) {
      <p-message severity="success">{{ "events.isBookedDes" | translate }}</p-message>
      }
      @else if (isAdmin) {
      <p-message severity="success">{{ "events.adminBookingMessage" | translate }}</p-message>
      }
      @else {
      <p-button [label]="'events.bookNow' | translate" icon="pi pi-ticket" styleClass="w-full" (onClick)="onBook()" />
      }
    </div>
  </div>
</main>