<app-navbar />
<main>
  <!-- <div class="flex justify-between items-center pt-4">
    <a routerLink="/">
      <h1 class="text-primary font-bold text-3xl">
        {{ "GREETING" | translate }}
      </h1>
    </a>
    <div class="flex items-center gap-4">
      <a routerLink="/login" class="link-underline" routerLinkActive="underline underline-offset-6">{{ "auth.signin" |
        translate }}</a>
      <app-language-selector />
      <app-theme-toggle />
    </div>
  </div> -->

  <router-outlet />
</main>