<div
  class="relative flex flex-col md:flex-row bg-primary-contrast shadow rounded-lg overflow-hidden md:h-64 md:truncate">
  <div class="w-full md:w-[60%] lg:w-[65%]">
    <img [src]="event.image" class="w-full h-64 object-cover" height="288" width="808"
      [alt]="currentLanguage == 'ar' ? event.ar.eventName : event.eventName" loading="lazy" />
    <p-badge size="xlarge" [value]="currentLanguage == 'ar' ? event.category.ar : event.category.en"
      class="absolute top-4 start-4" severity="secondary" fetchpriority="high" />
    @if (isBooked && !isAdmin) {
    <p-badge [value]="'events.isBooked' | translate"
      class="absolute top-4 end-4 md:top-auto md:end-auto md:bottom-4 md:start-4" severity="success" />
    }
  </div>
  <div class="w-full md:w-[40%] lg:w-[35%] p-4 text-sm flex justify-between flex-col gap-3">
    <h3 class="truncate font-semibold text-2xl">
      {{ currentLanguage == "ar" ? event.ar.eventName : event.eventName }}
    </h3>
    <p class="truncate max-w-full font-semibold">
      {{ currentLanguage == "ar" ? event.ar.description : event.description }}
    </p>
    <div class="flex items-center gap-2">
      <i class="pi pi-map-marker" style="font-size: 0.875rem"></i>
      <p class="truncate">
        {{ currentLanguage == "ar" ? event.ar.venue : event.venue }}
      </p>
    </div>
    <div class="flex items-center gap-2">
      <i class="pi pi-calendar" style="font-size: 0.875rem"></i>
      <p>{{ event.date | date : "dd/MM/yyyy • HH:mm" }}</p>
    </div>

    <div class="flex items-center gap-2">
      <i class="pi pi-money-bill" style="font-size: 0.875rem"></i>
      <p>
        {{
        event.price === 0
        ? ("events.free" | translate)
        : event.price + " " + ("events.egp" | translate)
        }}
      </p>
    </div>

    <p-button icon="pi pi-ticket" [label]="
        isAdmin
          ? ('events.details' | translate)
          : ('events.bookNow' | translate)
      " styleClass="w-full" class="w-full" (onClick)="onBook(event.id)" />
  </div>
</div>