@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@layer base {

  html,
  body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", "Cairo", sans-serif !important;
  }
}

/* Icons Override */
.p-button-icon,
.p-button-icon:before,
.p-button-icon:after {
  line-height: normal !important;
}